---
import Section from "@/components/Section";
import Link from "@/components/ui/link";
import { getCollection } from "astro:content";
import BlogCard from "./BlogCard.astro";
import { useTranslations } from "@/i18n/utils";
import { CgMoreO } from "react-icons/cg";

const lang = Astro.props.lang || "en";

const langEntries = await getCollection(
  "blog",
  ({ id, data }) => id.startsWith(`${lang}/`) && data.date,
);

const latestEntries = langEntries
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  )
  .slice(0, 6);

const t = useTranslations(lang);
---

<Section
  title={t("sections.retrospective")}
  client:visible
  className="mb-8 h-fit w-full pt-4 md:mb-0 portrait:z-20 landscape:z-20"
>
  {
    latestEntries.length > 0 ? (
      <div class="flex flex-col items-center justify-center gap-2">
        <div class="tablet:grid-cols-2 laptop:grid-cols-3 grid grid-cols-1 items-center justify-evenly gap-4">
          {latestEntries.map((entry) => (
            <BlogCard entry={entry} lang={lang} />
          ))}
        </div>
        <Link
          client:load
          lang={lang}
          href="/blog"
          ignoreClass
          className="flex items-center justify-center gap-2 bg-zinc-100 px-2 py-1 text-lg transition duration-200 ease-in-out hover:scale-110 hover:bg-zinc-200 active:scale-90 dark:bg-[#0e0e0f] dark:hover:bg-zinc-900"
        >
          <CgMoreO />
          {t("sections.retrospectiveSeeMore")}
        </Link>
      </div>
    ) : (
      <div class="flex h-[200px]">
        <h6 class="m-auto text-center text-xl">{t("errors.blog")}</h6>
      </div>
    )
  }
</Section>
