---
import { getLangFromUrl } from '@/i18n/utils';
import Dock from '@/components/ui/nav/Dock';

const lang = getLangFromUrl(Astro.url);
---
<div class="w-full my-2 md:my-4 h-10">
  <Dock client:load lang={lang} />
</div>
