---
import { languages } from '@/i18n/ui';
import LanguagePickerLink from '@/components/ui/footer/LanguagePickerLink';

const { lang: activeLang } = Astro.props;
---
<ul class="flex flex-row space-x-2">
  {Object.entries(languages).map(([lang]) => (
    <li class="w-1/4 text-center">
      <LanguagePickerLink 
      client:load 
      href={lang} 
      lang={activeLang} 
      className={`${lang === activeLang && 'underline underline-offset-2 decoration-4 decoration-accent-400 dark:decoration-accent-600'}`} 
      label={lang.toUpperCase()}
      tooltip={`footer.${lang}` as Label}
      />
    </li>
  ))}
</ul>