---
import BaseLayout from '@/layouts/BaseLayout.astro'
import '@/styles/globals.css'
import { useTranslations } from '@/i18n/utils';
import MovingEmoji from '@/components/MovingEmoji';

const t = useTranslations('en');
---

<BaseLayout>
	<div class="flex flex-row space-x-2 scale-150">
		<span>{t("landing.welcome")}</span>
		<MovingEmoji client:load>👋</MovingEmoji>
	</div>
</BaseLayout>
