---
import Section from "@/components/Section";
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

const lang = Astro.props.lang || "en";

const langProjects = await getCollection(
  "projects",
  ({ slug, data }) => slug.startsWith(`${lang}/`) && data.year,
);

const projects = langProjects.sort(
  (a, b) => new Date(b.data.year).getTime() - new Date(a.data.year).getTime(),
);
---

<Section
  client:visible
  className="h-fit w-full space-y-4 pt-4 portrait:z-20 landscape:z-20"
>
  {
    projects.length > 0 ? (
      <div class="grid grid-cols-1 items-center justify-evenly gap-4 tablet:grid-cols-2 laptop:grid-cols-3">
        {projects.map((project) => (
          <ProjectCard project={project} />
        ))}
      </div>
    ) : (
      <div class="flex h-[200px]">
        <h6 class="m-auto text-center text-xl">No blog entries found</h6>
      </div>
    )
  }
</Section>
