---
import BaseLayout from '@/layouts/BaseLayout.astro'
import '@/styles/globals.css'
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import MovingEmoji from '@/components/MovingEmoji';

export function getStaticPaths() {
  const paths = [
		{ params: { lang: 'es' } },
		{ params: { lang: 'cat' } },
		{ params: { lang: 'de' } },
	]
  return paths;
}
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout>
	<div class="flex flex-row space-x-2 scale-150">
		<span>{t("landing.welcome")}</span>
		<MovingEmoji client:load>👋</MovingEmoji>
	</div>
</BaseLayout>
