---
import { ClientRouter } from "astro:transitions";
import { getLangFromUrl } from "@/i18n/utils";
import BaseHead from "@/components/BaseHead.astro";
import Nav from "@/components/ui/nav/index.astro";
import Footer from "@/components/ui/footer/index.astro";

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead
      title="Adrià Gomis | Portfolio"
      description="A portfolio of my projects, work, and other things"
    />
    <ClientRouter />
  </head>
  <body
    class="flex min-h-screen flex-col overflow-x-hidden bg-zinc-50 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50"
  >
    <Nav transition:animate="none" />
    <main
      transition:animate="fade"
      class="font-body flex w-screen flex-1 flex-col items-center justify-start overflow-hidden p-4 pt-16 lg:p-8"
    >
      <slot />
    </main>
    <Footer />
    <slot name="scripts" />
  </body>
</html>
