---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  data: CollectionEntry<"blog">["data"];
}
const { data }: Props = Astro.props;
---

<BaseLayout>
  <div class="prose prose-zinc mb-8 dark:prose-invert">
    <div class="my-4 border-b border-zinc-800 dark:border-zinc-200">
      {
        data.headerImage && (
          <Picture
            layout="responsive"
            formats={["avif", "webp"]}
            src={data.headerImage.src}
            alt={data.headerImage.alt}
            width={600}
            height={350}
            class="aspect-video rounded-md"
          />
        )
      }
      <h1 class="mb-0">{data.title}</h1>
      <h2 class="mb-4 mt-0">{data.subtitle}</h2>
    </div>
    <slot />
  </div>
</BaseLayout>
