---
import { useTranslations } from "@/i18n/utils";
import SidebarItem from "./sidebar-item.astro";

const { project, lang } = Astro.props;
const t = useTranslations(lang);
---

<div
  class="absolute -right-[14.5rem] bottom-0 top-4 hidden h-fit w-[200px] flex-col gap-4 rounded-md bg-zinc-200 p-4 dark:bg-zinc-900 desktop:flex"
>
  <SidebarItem title={t("sidebar.name")} description={project.name} />
  <SidebarItem title={t("sidebar.year")} description={project.year} />
  {
    (project.liveWebsite || project.repository) && (
      <hr class="border-zinc-500" />
    )
  }
  {
    project.liveWebsite && (
      <SidebarItem
        title={t("sidebar.website")}
        description={project.liveWebsite}
        type="link"
      />
    )
  }
  {
    project.repository && (
      <SidebarItem
        title={t("sidebar.repository")}
        description={project.repository}
        type="link"
      />
    )
  }
</div>
